{% extends 'main.html' %}
<!-- start: Content -->
{% block content %}
<div id="content" class="span10">


    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">Менеджер файлов</a></li>
    </ul>

    <div class="row-fluid sortable">
        <div class="box span12">
            <div class="box-header">
                <h2><i class="halflings-icon white picture"></i><span class="break"></span>Менеджер файлов</h2>
                <div class="box-icon">
                    <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                    <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                    <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <div class="alert alert-info">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <i class="halflings-icon info-sign"></i> В качестве демонстрации у вас есть разрешение только на чтение, в
                     На вашем сервере вы можете делать все, например, загружать или удалять. Это будет работать только на сервере.
                </div>
                <div class="file-manager"></div>
            </div>
        </div><!--/span-->

    </div><!--/row-->


</div><!--/.fluid-container-->
{% endblock %}
<!-- end: Content -->