{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>Рекламная биржа</title>
    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Сергей Иванов">
    <meta name="keyword"
          content="Рекламная биржа для игровых площадок">
    <!-- end: Meta -->

    <!-- start: Mobile Specific -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- end: Mobile Specific -->

    <!-- start: CSS -->
    <link id="bootstrap-style" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
    <link id="base-style" href="{% static 'css/style.css' %}" rel="stylesheet">
    <link id="base-style-responsive" href="{% static 'css/style-responsive.css' %}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext'
          rel='stylesheet' type='text/css'>
    <link id="base-style" href="{% static 'css/switcher.css' %}" rel="stylesheet">
    <!-- end: CSS -->


    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	  	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<link id="ie-style" href="{% static 'css/ie.css' %}" rel="stylesheet">
	<![endif]-->

    <!--[if IE 9]>
		<link id="ie9style" href="{% static 'css/ie9.css' %}" rel="stylesheet">
	<![endif]-->

    <!-- start: Favicon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <!-- end: Favicon -->
    <style>
        .container {
            width: 75px;
            height: 32px;
            background: rgba(255, 255, 255, .4);
            border: 2px solid #fff;
            border-radius: 18px;
            position: relative;
        }

        .item {
            display: block;
            height: 26px;
            width: 26px;
            border-radius: 15px;
            background: #fff;
            position: absolute;
            top: 3px;
            left: 3px;
            transition: left .5s ease-out;
        }

        @keyframes move {
            0% {
                width: 26px;
                height: 26px;
                top: 3px;
            }
            30% {
                width: 46px;
                height: 16px;
                top: 8px;
            }
            100% {
                width: 26px;
                height: 26px;
                top: 3px;
            }
        }

        @keyframes moveL {
            0% {
                width: 26px;
                height: 26px;
                top: 3px;
            }
            40% {
                width: 46px;
                height: 16px;
                top: 8px;
            }
            100% {
                width: 26px;
                height: 26px;
                top: 3px;
            }
        }
    </style>


</head>

<body>
<!-- start: Header -->
<div class="navbar">
    <div class="navbar-inner" style="background: #080808">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse"
               data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="index"><span>ADINGAMES</span></a>

            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">
                    <li class="dropdown hidden-phone">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-bell"></i>
                            <span class="badge red">
								7 </span>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li class="dropdown-menu-title">
                                <span>У тебя 11 сообщений</span>
                                <a href="#refresh"><i class="icon-repeat"></i></a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon blue"><i class="icon-user"></i></span>
                                    <span class="message">Регистрация нового пользователя</span>
                                    <span class="time">1 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon green"><i class="icon-comment-alt"></i></span>
                                    <span class="message">Новый комментарий</span>
                                    <span class="time">7 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon green"><i class="icon-comment-alt"></i></span>
                                    <span class="message">Новый комментарий</span>
                                    <span class="time">8 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon green"><i class="icon-comment-alt"></i></span>
                                    <span class="message">Новый комментарий</span>
                                    <span class="time">16 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon blue"><i class="icon-user"></i></span>
                                    <span class="message">Регистрация нового пользователя</span>
                                    <span class="time">36 min</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon yellow"><i class="icon-shopping-cart"></i></span>
                                    <span class="message">2 проданных рекламмы</span>
                                    <span class="time">1 hour</span>
                                </a>
                            </li>
                            <li class="warning">
                                <a href="#">
                                    <span class="icon red"><i class="icon-user"></i></span>
                                    <span class="message">Пользователь удалил аккаует</span>
                                    <span class="time">2 hour</span>
                                </a>
                            </li>
                            <li class="warning">
                                <a href="#">
                                    <span class="icon red"><i class="icon-shopping-cart"></i></span>
                                    <span class="message">Новый комментарий</span>
                                    <span class="time">6 hour</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon green"><i class="icon-comment-alt"></i></span>
                                    <span class="message">Новый комментарий</span>
                                    <span class="time">yesterday</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon blue"><i class="icon-user"></i></span>
                                    <span class="message">Регистрация нового пользователя</span>
                                    <span class="time">yesterday</span>
                                </a>
                            </li>
                            <li class="dropdown-menu-sub-footer">
                                <a>Посмотреть все уведомления</a>
                            </li>
                        </ul>
                    </li>
                    <!-- start: Notifications Dropdown -->
                    <li class="dropdown hidden-phone">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-calendar"></i>
                            <span class="badge red">
								5 </span>
                        </a>
                        <ul class="dropdown-menu tasks">
                            <li class="dropdown-menu-title">
                                <span>У вас 17 заданий в процессе</span>
                                <a href="#refresh"><i class="icon-repeat"></i></a>
                            </li>
                            <li>
                                <a href="#">
										<span class="header">
											<span class="title">iOS Development</span>
											<span class="percent"></span>
										</span>
                                    <div class="taskProgress progressSlim red">80</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
										<span class="header">
											<span class="title">Android Development</span>
											<span class="percent"></span>
										</span>
                                    <div class="taskProgress progressSlim green">47</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
										<span class="header">
											<span class="title">ARM Development</span>
											<span class="percent"></span>
										</span>
                                    <div class="taskProgress progressSlim yellow">32</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
										<span class="header">
											<span class="title">ARM Development</span>
											<span class="percent"></span>
										</span>
                                    <div class="taskProgress progressSlim greenLight">63</div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
										<span class="header">
											<span class="title">ARM Development</span>
											<span class="percent"></span>
										</span>
                                    <div class="taskProgress progressSlim orange">80</div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-menu-sub-footer">Посмотреть все задачи</a>
                            </li>
                        </ul>
                    </li>
                    <!-- end: Notifications Dropdown -->
                    <!-- start: Message Dropdown -->
                    <li class="dropdown hidden-phone">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-envelope"></i>
                            <span class="badge red">
								4 </span>
                        </a>
                        <ul class="dropdown-menu messages">
                            <li class="dropdown-menu-title">
                                <span>У вас 9 сообщений</span>
                                <a href="#refresh"><i class="icon-repeat"></i></a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="avatar"><img src="{% static 'img/avatar.jpg' %}" alt="Avatar"></span>
                                    <span class="header">
											<span class="from">
										    	Сергей Иванов
										     </span>
											<span class="time">
										    	6 min
										    </span>
										</span>
                                    <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="avatar"><img src="{% static 'img/avatar.jpg' %}" alt="Avatar"></span>
                                    <span class="header">
											<span class="from">
										    	Сергей Иванов
										     </span>
											<span class="time">
										    	56 min
										    </span>
										</span>
                                    <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="avatar"><img src="{% static 'img/avatar.jpg' %}" alt="Avatar"></span>
                                    <span class="header">
											<span class="from">
										    	Сергей Иванов
										     </span>
											<span class="time">
										    	3 hours
										    </span>
										</span>
                                    <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="avatar"><img src="{% static 'img/avatar.jpg' %}" alt="Avatar"></span>
                                    <span class="header">
											<span class="from">
										    	Сергей Иванов
										     </span>
											<span class="time">
										    	yesterday
										    </span>
										</span>
                                    <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="avatar"><img src="{% static 'img/avatar.jpg' %}" alt="Avatar"></span>
                                    <span class="header">
											<span class="from">
										    	Сергей Иванов
										     </span>
											<span class="time">
										    	Jul 25, 2012
										    </span>
										</span>
                                    <span class="message">
                                            Lorem ipsum dolor sit amet consectetur adipiscing elit, et al commore
                                        </span>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-menu-sub-footer">View all messages</a>
                            </li>
                        </ul>
                    </li>

                    <!-- start: User Dropdown -->
                    <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i> Сергей Иванов
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-title">
                                <span>Настройки профиля</span>
                            </li>
                            <li><a href="#"><i class="halflings-icon user"></i> Профиль</a></li>
                            <li><a href="login"><i class="halflings-icon off"></i> Выйти</a></li>
                        </ul>
                    </li>
                    <!-- end: User Dropdown -->
                </ul>
            </div>
            <!-- end: Header Menu -->

        </div>
    </div>
</div>
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div id="sidebar-left" class="span2">
            <div class="nav-collapse sidebar-nav">
                <ul class="nav nav-tabs nav-stacked main-menu">
                    <li class="switch-btn-li">
                        <span>Рекламодатель</span>
                        <div class="switch-btn"></div>
                        <span>Площадка</span>
                    </li>

                    <li><a href="index"><i class="icon-bar-chart"></i><span
                            class="hidden-tablet"> Панель управления</span></a>
                    </li>
                    <li><a href="message"><i class="icon-envelope"></i><span
                            class="hidden-tablet"> Сообщения</span></a></li>
                    <li><a href="tasks"><i class="icon-tasks"></i><span class="hidden-tablet"> Задачи</span></a>
                    </li>

                    <li><a href="chart"><i class="icon-list-alt"></i><span class="hidden-tablet"> Статистика</span></a>
                    </li>

                    <li><a href="gallery"><i class="icon-picture"></i><span
                            class="hidden-tablet"> Галерея</span></a></li>

                    <li><a href="calendar"><i class="icon-calendar"></i><span
                            class="hidden-tablet"> Календарь</span></a></li>

                    <li><a href="file-manager"><i class="icon-folder-open"></i><span class="hidden-tablet"> Менеджер файлов</span></a>
                    </li>

                    <li><a href="login"><i class="icon-lock"></i><span
                            class="hidden-tablet"> Страница авторизации</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Внимание!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        {% block content %}
        {% endblock %}
        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Настройки</h3>
    </div>
    <div class="modal-body">
        <p>Здесь можно настроить параметры ...</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Закрыть</a>
        <a href="#" class="btn btn-primary">Сохранить изменения</a>
    </div>
</div>

<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <ul class="list-inline item-details">
            <li><a href="http://themifycloud.com">Шаблоны администратора</a></li>
            <li><a href="http://themescloud.org">Темы начальной загрузки</a></li>
        </ul>
    </div>
</div>

<div class="clearfix"></div>

<footer>

    <p>
        <span style="text-align:left;float:left">&copy; 2020 <a
                href="#"
                alt="Bootstrap_Metro_Dashboard">Адаптивная панель управления ADINGAMES</a></span>

    </p>

</footer>

<!-- start: JavaScript-->

<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.0.0.min.js' %}"></script>

<script src="{% static 'js/jquery-ui-1.10.0.custom.min.js' %}"></script>

<script src="{% static 'js/jquery.ui.touch-punch.js' %}"></script>

<script src="{% static 'js/modernizr.js' %}"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script src="{% static 'js/jquery.cookie.js' %}"></script>

<script src="{% static 'js/fullcalendar.min.js' %}"></script>

<script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'js/excanvas.js' %}"></script>
<script src="{% static 'js/jquery.flot.js' %}"></script>
<script src="{% static 'js/jquery.flot.pie.js' %}"></script>
<script src="{% static 'js/jquery.flot.stack.js' %}"></script>
<script src="{% static 'js/jquery.flot.resize.min.js' %}"></script>

<script src="{% static 'js/jquery.chosen.min.js' %}"></script>

<script src="{% static 'js/jquery.uniform.min.js' %}"></script>

<script src="{% static 'js/jquery.cleditor.min.js' %}"></script>

<script src="{% static 'js/jquery.noty.js' %}"></script>

<script src="{% static 'js/jquery.elfinder.min.js' %}"></script>

<script src="{% static 'js/jquery.raty.min.js' %}"></script>

<script src="{% static 'js/jquery.iphone.toggle.js' %}"></script>

<script src="{% static 'js/jquery.uploadify-3.1.min.js' %}"></script>

<script src="{% static 'js/jquery.gritter.min.js' %}"></script>

<script src="{% static 'js/jquery.imagesloaded.js' %}"></script>

<script src="{% static 'js/jquery.masonry.min.js' %}"></script>

<script src="{% static 'js/jquery.knob.modified.js' %}"></script>

<script src="{% static 'js/jquery.sparkline.min.js' %}"></script>

<script src="{% static 'js/counter.js' %}"></script>

<script src="{% static 'js/retina.js' %}"></script>

<script src="{% static 'js/custom.js' %}"></script>

<script src="{% static 'js/switcher.js' %}"></script>
<!-- end: JavaScript-->

</body>
</html>
